* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 215vh;
}
.dark {
  background: rgba(0, 0, 0, 0.863);
  color: white;
}
.light {
  background: rgba(255, 255, 255, 0.986);
  color: black;
}
nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.nav-1 {
  display: flex;
  gap: 50px;
  & h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
  }
  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-size: 17px;
    font-weight: 300;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgb(124, 123, 123);
    & li {
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        color: rgba(199, 197, 197, 0.836);
      }
    }
  }
}
.nav-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.input-box {
  overflow: hidden;
  width: 100%;
  height: 30px;
  padding: 4px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.473);
  border-radius: 7px;
  & input {
    height: 20px;
    font-size: 16px;
    font-weight: 100;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgba(128, 128, 128, 0.973);
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    outline: none;
    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: rgba(128, 128, 128, 0.986);
    }
  }
}
.input-btn {
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    width: 15px;
    cursor: pointer;
  }
}
.card-prs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn-box {
  overflow: hidden;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 7px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s linear;
  &:hover {
    background-color: rgba(8, 8, 8, 0.993);
    & svg path {
      fill: white;
    }
  }
  & svg {
    width: 25px;
  }
}
.btn-savad {
  overflow: hidden;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 9px 2px 7px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s linear;
  &:hover {
    background-color: rgba(8, 8, 8, 0.986);
    & svg {
      fill: white;
    }
  }
  & svg {
    width: 23px;
  }
}
.moon-sun {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 7px 2px 7px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s linear;
  &:hover {
    & svg path {
      fill: white;
    }
  }
  & svg path{
    width: 20px;
    fill: white;
  }
}
.sun-moon {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 7px 2px 7px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s linear;
  &:hover {
    background-color: rgba(10, 10, 10, 0.432);
 
  }
  & svg{
    width: 25px;
  }
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2%;
}
.filter-aso {
  width: 21%;
  height: 100vh;
  background-color: transparent;
  padding-left: 40px;
}
.filter-ap {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
  & p {
    color: rgb(134, 134, 134);
    font-size: 16px;
    font-weight: 550;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
.ap-btn {
  width: 100%;
  padding: 10px;
  text-align: start;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 550;
  color: rgb(104, 103, 103);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: black;
    color: white;
  }
}
.products-aso {
  width: 77%;
  height: 100vh;
  padding-right: 30px;
  & h1 {
    font-size: 23px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  & p {
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(129, 128, 128);
    margin-bottom: 25px;
  }
}
.products {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 20px;
}
.product {
  width: 280px;
  height: 350px;
  transition: all 0.3s linear;
  &:hover {
    .product-img {
      & img {
        transform: scale(1.1);
      }
    }
  }
}
.product-img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  & img {
    transition: all 0.3s linear;
    width: 100%;
    height: 250px;
  }
}
.product-ty {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  & h3 {
    font-size: 18px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  & h5 {
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(122, 121, 121);
    margin-bottom: 15px;
  }
  & h4 {
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
.top-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(167, 165, 165, 0.212);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
  & svg {
    width: 20px;
  }
  &:hover {
    background-color: #080808;
    & svg {
      color: white;
    }
  }
}
